.event-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .event {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .event-container h2 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }
  
  .event h3 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .event p {
    margin: 5px 0;
    text-align: center;

  }
  
  .event-container h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }