.people {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.volunteer {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}
.adding-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .adding {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .adding:hover {
    background-color: #0056b3;
  }